*{
    border: none;
    margin: 0px;
    padding: 0px;
}

header{
    height: 75px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    /* background-color: chocolate; */
}

input{
    margin-right: 0px;
    height: 45px;
    width: 250px;
    border-radius: 8px;
}

.categoria{
    color: #27AE60;
    
}

.divInternaCard{
    height: 150px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}

.logo{
    font-size: 20px;
    margin-left: 110px;
    color: #333333;
}

.vermelho{
    font-size: 14px;
    color: #EB5757;
}

.btnPesquisa{
    position: relative;
    left: -110px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #27AE60;
    color: aliceblue;
    height: 30px;
    width: 100px;
    border-radius: 8px;
}

.btnPadrao{
    margin-top: 10px;
    cursor: pointer;
    background-color: #27AE60;
    color: aliceblue;
    height: 40px;
    width: 106px;
    border-radius: 8px;
    margin-left: 20px;
}

.conteinerGeral{
    margin-top: 20px;
    display: flex;
    height: 700px;
    width: 725px;
    flex-wrap: wrap;
    /* background-color: blue; */
}

.divImg{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column-reverse;
    max-width: 200px;
    /* max-width: 150px */
    overflow: hidden;
}

.card{
    /* background-color: brown; */
    margin: 10px;
    width: 200px;
    height: 270px;
}

.informacoes{
    margin-left: 20px;
    /* background-color: whitesmoke; */
}

.parteSuperiorCarrinhoDeConpras{
    height: 65px;
    width: 300px;
    background-color: #27AE60;
}

.textoDaParteSuperiorCarrinhoDeConpras{
    padding-top: 20px;
    padding-left: 10px;
    color: aliceblue;
}

.carrinhoDeConpras{
    /* background-color: aqua; */
    border: solid grey 1px;
    margin-top: 20px;
    height: 100%;
    width: 300px;

}

.divInferiorCarrinhoDeConpras{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.btnRemoverTodos{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 60px;
    width: 300px;
    border-radius: 8px;
    
}

.imgCarrinho{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100px;
    background-color: #E0E0E0;
}

.conteinerCarrinho{
    margin: 10px;
    display:flex ;
    justify-content: space-between;
    color: #333333;
    background-color: #F5F5F5;
}

.lateralEsquerdaCarrinhoCard{
    background-color: #F5F5F5;
    display: flex;
}

.categoriaCarrinho{margin-top: 10px;
    color: #27AE60;
}

.tituloCarrinho{
    margin-top: 10px;
}

.btnRemove{
    cursor: pointer;
    margin-top: 10px;
}

.carrinhoVazio{
    background-color: aliceblue;
    height: 150px;
    
}

.carrinhoVazioTitulo{
    padding-top: 50px;
    margin-bottom: 0px;
    margin-left: 60px;
}

.carrinhoVazioSubTitulo{
    margin-top: 0px;
    margin-left: 100px;
}