*{
    border: none;
    margin: 0px;
    padding: 0px;
}

header{
    height: 75px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main{
    display: flex;
    justify-content: space-evenly;
    background-color: chocolate;
}

input{
    margin-right: 0px;
    height: 45px;
    width: 250px;
    border-radius: 8px;
}

.categoria{
    color: #27AE60;
    
}

.ggg{
    height: 150px;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

.logo{
    font-size: 20px;
    margin-left: 110px;
    color: #333333;
}

.vermelho{
    font-size: 14px;
    color: #EB5757;
}

.btnPesquisa{
    position: relative;
    left: -110px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #27AE60;
    color: aliceblue;
    height: 30px;
    width: 100px;
    border-radius: 8px;
}

.btnPadrao{
    margin-top: 10px;
    cursor: pointer;
    background-color: #27AE60;
    color: aliceblue;
    height: 40px;
    width: 106px;
    border-radius: 8px;
    margin-left: 20px;
}

.conteinerGeral{
    margin-top: 20px;
    display: flex;
    width: 725px;
    flex-wrap: wrap;
    background-color: blue;
}

.divImg{
    background-color: #27AE60;
    display: flex;
    flex-direction: column-reverse;
    max-width: 200px;
    /* max-width: 150px */
}

.card{
    background-color: brown;
    margin: 20px;
    width: 200px;
    height: 270px;
}

.informacoes{
    margin-left: 20px;
    background-color: whitesmoke;
}

.carrinhoDeConpras{
    background-color: aqua;
    margin-top: 20px;
    height: 100%;
    width: 300px;

}

.imgCarrinho{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100px;
    background-color: #333333;
}

.conteinerCarrinho{
    margin: 10px;
    display:flex ;
    justify-content: space-between;
    background-color: #27AE60;
}

.lateralEsquerdaCarrinhoCard{
    background-color: #EB5757;
    display: flex;
}

.categoriaCarrinho{margin-top: 10px;
    color: #27AE60;
}

.tituloCarrinho{
    margin-top: 10px;
}

.btnRemove{
    cursor: pointer;
    margin-top: 10px;
}